/**Estilo de la pagina*/
.principal {
    display: flex;
    width: 1200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    letter-spacing: 10px;
}
/**Estilos columna 1*/
aside {
    background-color: #524571;
    width:30%;
    margin-right: 2%;
}
aside * {
    color: whitesmoke;
}
aside h3 {
    border-bottom: 2px solid whitesmoke;
}
#foto-perfil img {
border-radius: 50%;
}
aside section ul {
    list-style-type: disc;
}
.contactos ul {
    list-style-type: disc;
    float: left;
    width: 30%;
    margin-top: 2px;
    font-size: 20px;
}
button {
   background-color: #AD92F1;
   border-color: #524571;
   color:whitesmoke; 
}
/**Estilos columna 2*/
.main-container {
    background-color: #8F78C6;
    padding: 15%;
    text-align: center;
}
.main-container h1 {
    letter-spacing: 15px;
}
.main-container h2 {
    color:blanchedalmond;
    border-top: 2px solid whitesmoke;
    letter-spacing: 15px;
}
ul {
    list-style-type: none;
}
article ul {
    list-style-type: circle;
}
.seccion-experiencia {
    background-color: #AD92F1;
}
.seccion-experiencia h3 {
    background-color: whitesmoke;
}
.seccion-experiencia h4 {
    border-top: 1px solid whitesmoke;
}
